body{

background:#f2f2f2;

font-family:Arial;

}



.box{

width:350px;

background:white;

padding:30px;

margin:100px auto;

border-radius:20px;

text-align:center;

}



input{

width:90%;

padding:12px;

font-size:18px;

}



button{

background:black;

color:white;

padding:12px 20px;

border:none;

border-radius:10px;

margin:10px;

cursor:pointer;

}



#notesList div{

display:flex;

justify-content:space-between;

align-items:center;

margin-top:15px;

}



p{

font-size:18px;

}